.filtertube-on-right {
    float:right;
    margin-right:20%;
    margin-left:1em;
    margin-top:2em;
}

#edit-filtertube-setting {

}

/*  fixes for 'Seven' Admin Theme -- on text format pages */
div.vertical-tabs .vertical-tabs-panes .collapsible legend {
    display: block;
}

div.vertical-tabs .vertical-tabs-panes .collapsible .fieldset-legend {
    margin: 0;
    position: relative;
}
