dl.filtertube-tip {
    display:block;
    margin:0 0 0 0 !important;
    padding:0 0 0 0 !important;
    font-size:10px;
    }

.filtertube-tip p {
    margin:0 0 0 0;
}
dl.filtertube-tip li {
    line-height:1.1em;
    }

body.page-filter dl.filtertube-tip{
    margin:2em 0 !important;
    }

.filtertube-drop {
    vertical-align:top;
    }

.filtertube-make-better {
    font-weight:600;
    font-size:90%;
    border-top:1px solid #ccc;
    margin:1em 0 0 0;
    padding:1em 0;
    }


#filtertube-message {
    text-align:right;
    padding-right:2em;
    margin-top:-3em;
    margin-bottom:2em;
    }

#filtertube-message small{
    height:0;overflow:visible
    }

#filtertube-help blockquote {margin:.5em 4em 2em 2em}
#filtertube-help blockquote p {margin:0 0 0 0;}
#filtertube-help blockquote img {margin-left:5%;}

#filtertube-help h3,
dl.filtertube-tip h3 {
    font-weight:500;
    font-size:1em !important;
    margin:0 0 0 0;
    padding:0 .5em 0 0;
    display:block !important;
    }

dl.filtertube-tip a {
    font-size:76% !important;
    }
dl.filtertube-tip ul {
margin:0 0 0 0;
}

.filtertube-float-right,
.filtertube-config {
    float:right;
    }

dl.filtertube-tip dt{
    font-weight:600;
    padding:0 0 0 0;
    margin:.5em 0 0 0;
    border-bottom:1px solid #ccc;
    }

dl.filtertube-tip dd{
    font-size:110%;
    padding:0 0 0 0;
    margin:0 0 .5em 0;
    }

#filtertube-help .item-list {
    margin-top:.5em;
    border-top:1px solid #ccc;
    }
#filtertube-help .item-list ul .item-list {
    border-top:0;
    }
#filtertube-help .item-list ul .item-list li {
    padding-left:1em;
    }

.filtertube-trouble-list {
    margin:0 2em;
    }
ul.filtertube-inset-list {
    margin:0 3em 0 1.5em;
    font-weight:600;
    padding:0 0 0 1.5em;
    }
.filtertube-inset-list li {
    list-style-type:none;
    text-indent:-1em;
    font-weight:500;
    background-image:none;
    }
.filtertube-size-list li {
    display:inline !important;
    list-style-type:none !important;
    list-style:none !important;
}
.filtertube-size-list .filter-size-key {
    font-weight:600;
    margin-left:1em;
    }

.filtertube-tip hr {
    margin:0;
    color:#ccc;
    background-color:#ccc;
    size:1;height:1px;
    border:none;
    }
#edit-filters-filtertube-settings fieldset {
	padding-top:.5em;
}

#edit-filters-filtertube-settings .form-item{
	display:inline;
}

.form-item-filters-filtertube-settings-tube-custom-opt-size-five-width input,
.form-item-filters-filtertube-settings-tube-custom-opt-size-five-height input {
    width:46px !important;
    text-align:center;
    }

#edit-filters-filtertube-settings #filtertube-outSize  legend .fieldset-legend{
    background:none;
    display:block;
    }
#edit-filters-filtertube-settings #filtertube-outSize .fieldset-wrapper
   margin-top:2em;
    }

#edit-filters-filtertube-settings #filtertube-outSize  {
    padding-top:2em;
    }

#edit-filters-filtertube-settings #filtertube-ratio-widget .form-item label,
#edit-filters-filtertube-settings #filtertube-outSize .form-item label {
    width:70px;
    display:inline !important;
    font-size:9px;
    }

#edit-filters-filtertube-settings  legend {
    padding-bottom:.4em;
    }

.form-item.form-item-filters-filtertube-settings-override,
.form-item.form-item-filters-filtertube-settings-default {
    display:block !important;
    width:100% !important;
    }

#filtertube-message {
    font-size:smaller;
    font-style:oblique;
    font-weight:600;
    }

.hide-key .filter-size-key {
    display:none;
    text-indent:-9999px;
    height:0;
    overflow:none;
    font-size:0;
    color:transparent;
    }


/*css for behaviours */
#filtertube-message,
.filtertube-help-node {
    display:none;}

#filtertube-ratio-form {
    margin-bottom:0 !important;
    }

#filtertube-ratio-form fieldset{
 border:0;
 padding:0 1em;
    }
#filtertube-ratio-form p {
    margin-bottom:0;
    font-weight:600;
    }
#filtertube-ratio-form label{
    display:inline;
    margin-right:.5em;
   vertical-align:middle;}



#filtertube-ratio-form input {
    text-align:center;
    line-height:1em;}




#filtertube-widget-setter {
    margin:1em 1em;
    padding:.5em .8em;
  border-color: #555;
  cursor: pointer;
  color: #000;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
    }


#filtertube-setter-note {
    float:right;
    }
#filtertube-widget-reset {
 padding:.2em .5em;
margin-bottom:1em;
float:right;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.filtertube-aspect-label {
    font-size:9px;
    line-height:text-top;
    }